#block-system-main-menu .content,
#page-title
{
	font-family:"refrigerator-deluxe", sans-serif;
	font-weight:700;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.refrigerator
{
	font-family:"refrigerator-deluxe", sans-serif!important;
	font-weight:700;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

body,
input,
button,
textarea
{
	font-family:"futura-pt", sans-serif;
	font-weight:300;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
.centurygothic
{
	font-family:"futura-pt", sans-serif!important;
	font-weight:300;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}
